src/packedobjects
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/canon.o
src/config.h
src/config.h.in
src/expand.o
src/main.o
src/packedobjects.o
src/schema.o
src/stamp-h1
src/*.o
*~
src/*~
src/*.lo
config.guess
config.sub
libtool
ltmain.sh
src/.libs/
src/libpackedobjects.la
doc/tutorial.aux
doc/tutorial.cp
doc/tutorial.cps
doc/tutorial.fn
doc/tutorial.ky
doc/tutorial.log
doc/tutorial.pg
doc/tutorial.toc
doc/tutorial.tp
doc/tutorial.vr
tools/packedobjects/src/.deps/main.Po
tools/packedobjects/src/config.h
tools/packedobjects/src/config.h.in
tools/packedobjects/src/main.o
tools/packedobjects/src/packedobjects
tools/packedobjects/src/stamp-h1
tools/packedobjects/src/.deps/
tools/packedobjects/src/*.o
