<?xml version="1.0" encoding="UTF-8"?>
<kiosk>
  <order>
    <table>12</table>
    <dateTime>2012-09-27 23:51:35Z</dateTime>
    <menu>
      <meal>
	<breakfast>
	  <name>Early Bird</name>
	  <mealNo>102</mealNo>
	  <items>
	    <beverage>Latte</beverage>
	    <main>Smoked Salmon and Egg Scramble</main>
	    <sides>
	      <side>Tomatoes</side>
	      <side>Eggs</side>
	      <side>Apricots</side>
	    </sides>
	  </items>
	  <price>10.00</price>
	</breakfast>
      </meal>
      <meal>
	<breakfast>
	  <name>Full English</name>
	  <mealNo>102</mealNo>
	  <items>
	    <beverage>Americano</beverage>
	    <main>Egg Scramble and Smoked Bacon</main>
	    <sides>
	      <side>Tortilla</side>
	      <side>Beans</side>
	      <side>Cheese</side>
	    </sides>
	  </items>
	  <price>15.00</price>
	</breakfast>
      </meal>
      <meal>
	<lunch>
	  <name>Panini Sandwich</name>
	  <mealNo>102</mealNo>
	  <items>
	    <beverage>Beer</beverage>
	    <main>Ham and Cheese Panini</main>
	    <sides>
	      <side>Chips</side>
	      <side>Cheese</side>
	      <side>Souces</side>
	    </sides>
	  </items>
	  <price>15.00</price>
	</lunch>
      </meal>
    </menu>
  </order>
</kiosk>